* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: Inter, sans-serif;
  background: #fff;
  color: #000;
  font-size: 0.875rem;
      font-weight: 339;
      line-height: 1.3;
}

/* =========================
   Header
========================= */

.archive-header {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

/* Archive title */
.archive-header h1 {
  margin: 0;
  font-size: 14px;
  color: #000;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  text-decoration: none;
}

/* Close button */
.close-btn {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 1;

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
}

.close-btn:hover {
  opacity: 0.6;
}

/* =========================
   Grid
========================= */

.archive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px 40px;

  /* header 아래 공간 확보 */
  padding: 96px 32px 32px;
}

/* =========================
   Items
========================= */

.archive-item {
  display: flex;
  flex-direction: column;
}

.archive-item img,
.archive-item video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.archive-item figcaption {
  margin-top: 5px;
  text-align: center;

  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.85);
}


.crop-top video {
  object-fit: cover;
  object-position: center 70%; /* 숫자 조절 */
}


figure {
  margin: 0;
}


.archive-item--large {
  grid-column: span 2;
}