* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18.2px;
}


/* =========================
   Header
========================= */

.archive-header {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

/* Archive title */
.archive-header h1 {
  margin: 0;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  text-decoration: none;
}

/* Close button */
.close-btn {
  font-size: 18px;
   font-weight: 300;
    letter-spacing: 0.02em;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 1;

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
}

.close-btn:hover {
  opacity: 0.6;
}

/* =========================
   Grid
========================= */
.archive-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 96px 32px 32px;
}

/* =========================
   Items
========================= */

.archive-item {
  display: row;
  flex-direction: column;
}


.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.archive-item img,
.archive-item video {
  width: 100%;
  height: auto;
  max-width: 520px;   /* ⭐ 이 값이 ‘저 큰 사이즈’ 기준 */
  display: block;
  object-fit: contain; /* ✅ 절대 안 잘림 */
  margin: 0 auto;      /* 가운데 정렬 */
}

.archive-item--shrink img,
.archive-item--shrink video {
  transform: scale(0.85);   /* ⭐ 여기서 조절 */
  transform-origin: center;
}


.archive-item figcaption {
  margin-top: 5px;
  text-align: center;

  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.85);
}


figure {
  margin: 0;
}

/* 클릭 가능하게 */
.archive-item img,
.archive-item video {
  cursor: pointer;
}

/* Lightbox 배경 */
.lightbox {
  position: fixed;
  inset: 0;
  background: white;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* 열렸을 때 */
.lightbox.active {
  display: flex;
}

/* 콘텐츠 */
.lightbox-content img,
.lightbox-content video {
  max-width: 90vw;
  max-height: 85vh;
  object-fit: contain;
}


/* 닫기 버튼 */
.lightbox-close {
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #0000;
  cursor: pointer;
  line-height: 1;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

