

.video-wrapper {
  width: 100%;
  max-width: 950px; /* 다른 이미지와 동일 */
  background: #4537FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0; /*  위아래 여백 */
}

.video-wrapper video {
  width: 40%;
  max-width: 480px;
  height: auto;
  display: block;
  pointer-events: none;
}

.video-block .video-wrapper video {
  width: 40%;
  max-width: 480px;
}


.project-images {
  flex: 1;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center; /*  중앙 정렬 */
  
  padding: 80px 60px;
  gap: 10px;

  overflow-y: auto;
}

.image-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.image-block img {
  width: 100%;
  max-width: 950px;
  height: auto;
 
}

.image-block.single img {
  max-width: 55%; 
  height: auto;
}



*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  overflow: hidden; /* 전체 페이지 스크롤 차단 */
}



.book-layout {
  display: flex;
  width: 100vw;
  height: 100svh; /* iOS safe height */
}

/* ---------- LEFT: Text ---------- */
.artwork-info {
  width: 427.25px;
  padding: 32px 0 0 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #fff;
}

/* Nav */
.artwork-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.nav-index {
  color: #000;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  text-decoration: none;
}

.nav-next {
  color: #99a1af;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  text-decoration: none;
}

.nav-about {
  color: #99a1af;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  margin-bottom: 24px;
}

/* Text */
.artwork-title {
  font-size: 14px;
  font-style: italic;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  margin-bottom: 6px;
}

.artwork-date {
  font-size: 14px;
  font-weight: 350;
  line-height: 18.2px;
  letter-spacing: -0.15px;
  margin-bottom: 6px;
}

.artwork-category {
  font-size: 14px;
  font-weight: 350;
  line-height: 20px;
  letter-spacing: -0.15px;
  margin-bottom: 24px;
}

.artwork-description {
  max-width: 384px;
  font-size: 14px;
  font-weight: 350;
  line-height: 22.75px;
  letter-spacing: -0.15px;

  word-break: break-word;
  overflow-wrap: break-word;
}

.pdf-block iframe {
  width: 100%;
  height: 3000px;
  border: none;
}